{% extends 'padre.html' %}


{% block main %}

<main>
    <section id="services" class="list-section">
        <div class="container">
            <h2>Listado de Turnos</h2>
            <div class="list">
            {% for turno in list %}
                <div class="list-item">
                    <p>Fecha: {{turno.fecha}}</p>
                    <p>Hora: {{turno.hora}}</p>
                    <p>Masaje: {{turno.masaje.nombre}}</p>
                    <p>Nombre cliente: {{turno.cliente}}</p>
                </div>
            {% endfor %}                
            </div>
        </div>
    </section>
</main>
    
{% endblock main %}